<style>
  .square {
    border-radius: 0;
  }
  @font-face {
    font-family: Leroy Merlin;
    src: url(assets/fonts/LeroyMerlinSans-Web-Regular.woff) format("woff");
  }

  * {
    font-family: "Leroy Merlin", sans-serif;
  }
  .example {
    display: flex;
    justify-content: space-around;
  }
</style>
<main>
  <div class="">
    <h2>Accordion</h2>
    <m-accordion
      (click)="handleAccordion()"
      open="{{ open }}"
      label="Accordion title"
    >
      <p>
        Fusce iaculis dolor nulla, a maximus ipsum sollicitudin et. Ut
        condimentum at orci aliquam feugiat. Curabitur sagittis placerat leo sit
        amet pharetra.
      </p>
    </m-accordion>

    <!-- <h2>Breadcrumb</h2>
    <m-breadcrumb items='[{"text":"Level 00","href":"#"},{"text":"Here is the level 01","href":"#"},{"text":"This is another very long level (Level 02) link","href":"#","isActive":true},{"text":"The third level is here","href":"#"},{"text":"This is the last Level link","href":null}]'></m-breadcrumb> -->

    <h2>Button</h2>
    <div class="example">
      <m-button class="square" style="border-radius: 0" (click)="helloWorld()" label="Mon button"></m-button>
      <m-button label="Mon button" theme="primary-02"></m-button>
      <m-button label="Mon button" bordered="true"></m-button>
    </div>

    <h2>Notification</h2>
    <m-notification
      closable="true"
      title="Notif Title"
      titleTag="h3"
      (close)="helloWorld()"
    >
      <p>
        Fusce iaculis dolor nulla, a maximus ipsum sollicitudin et. Ut
        condimentum at orci aliquam feugiat. Curabitur sagittis placerat leo sit
        amet pharetra.
      </p>
    </m-notification>
    <h2>Rating</h2>
    <m-ratings
      size="l"
      value="3"
      suffixlabel="7 reviews"
      a11ylabel="Global score: 4/5"
    ></m-ratings>

    <h2>Tags</h2>
    <m-tag
      label="je suis un tag"
      type="removable"
      (click)="(helloWorld)"
      (tag-removed)="helloWorld()"
    ></m-tag>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
